
@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">"Hack My Ass!!"</h1>
   <p>In this site I gonna teach you how to hack any website in the world <a href="https://www.eccouncil.org/ethical-hacking/">Follow my steps and become in a hacker</a>.</p>
</div>

